<div class="card">
  <p class="header-card">Новая задача</p>
  <form [formGroup]="createCardForm" class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Название</mat-label>
      <input type="text" matInput formControlName="title">
      @if (createCardForm.get('title')?.hasError('required')) {
        <mat-error>Требуется <strong>название</strong></mat-error>
      }
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Описание</mat-label>
      <textarea matInput formControlName="description"></textarea>
      @if (createCardForm.get('description')?.hasError('required')) {
        <mat-error>Требуется <strong>описание</strong></mat-error>
      }
    </mat-form-field>


    <div class="grid-input">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Выберите дату</mat-label>
        <input matInput formControlName="deadlineDate" [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Выберите приоритет</mat-label>
        <mat-select formControlName="priority">
          <mat-option [value]="item.value" *ngFor="let item of priority">{{ item.label }}</mat-option>

        </mat-select>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Выберите статус</mat-label>
        <mat-select formControlName="status">
          <ng-container *ngIf="(statusList | async) as statuses">
            <mat-option [value]="status" *ngFor="let status of statuses">
              {{ status.name }}
            </mat-option>
          </ng-container>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Выберите исполнителя</mat-label>
        <mat-select formControlName="executorId">
          <ng-container *ngIf="(userList | async) as users">
            <mat-option [value]="user.id" *ngFor="let user of users">
              {{ user.name }}
            </mat-option>
          </ng-container>
        </mat-select>
      </mat-form-field>
    </div>


  </form>
  <button (click)="createTask()" mat-flat-button color="primary"><strong>Создать</strong></button>
</div>



