<!--  использована отмена инкапсуляции, можно ли?
поэтому создан класс в div setting-modal
если поменяю, не забыть на его место вернуть host и убрать left: 45%
-->
<section class="setting-modal">
  <div class="header-modal padding-modal">
    <span>
      Сортировка
    </span>
    <button mat-raised-button color="primary">Сбросить</button>
  </div>
  <hr>
<!--Нужно сделать еще фильтрацию, может быть там можно будет применить ng-template -->
  <div class="block-selector padding-modal">
    <mat-form-field>
      <mat-label>Выберите тип</mat-label>
      <mat-select>
<!--        в value через дефис писать? допустим dead-line?-->
        <mat-option value="volvo">Крайний срок</mat-option>
        <mat-option value="saab">Дата создания</mat-option>
        <mat-option value="mercedes">Приоритет</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Сортировка по</mat-label>
      <mat-select>
        <mat-option value="volvo">Возрастанию</mat-option>
        <mat-option value="saab">Убыванию</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</section>
