<header>
  <input class="search-input" [formControl]="this.filterText" placeholder="Поиск по задачам">
  <button  (click)="openDialog()" mat-mini-fab color="primary">
    <mat-icon>list</mat-icon>
  </button>
</header>

<div class="column-table"  *ngIf="taskToTaskColumn" cdkDropListGroup>
  @for (item of taskColumnList; track item; let i = $index) {
    <app-table-column
      [title]="item.name"
      cdkDropList
      [cdkDropListData]="taskToTaskColumn[item.id]"
      class="example-list"
      (cdkDropListDropped)="drop($event, item.id)"
    >
      <app-table-card
        cdkDrag
        *ngFor="let task of taskToTaskColumn[item.id] "
        [task]="task"
      ></app-table-card>
    </app-table-column>
  }
</div>


